* {
  margin: 0;
  padding: 0;
}
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 30px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
  margin: 18px;
}
li a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}
li a:hover {
  color: hsl(35, 77%, 62%);
}

ul + img {
  display: none;
  width: 30px;
  height: 15px;
}
ul > img {
  display: none;
}

@media screen and (max-width: 414px) {
  ul {
    display: none;
  }

  ul + img {
    display: inline;
  }

  ul img + li {
    margin-top: 150px;
  }
}
